<% content_for :page_title do %>
  <%= Spree.t('billing.report') %>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'date_range_picker' %><br>
<% end %>
<% if @revenue_totals.any? %>
  <%= render partial: 'overview' %>
<% end %>
<br>
<% unless @search.nil? || @orders.empty? %>
  <div class="table-responsive border rounded bg-whit mb-3">
    <table class="table" id="listing_subscriptions">
      <thead class="text-muted">
        <tr data-hook="admin_subscriptions_index_headers">
          <th><%= sort_link @search, :invoice_invoice_number, I18n.t(:number, scope: 'activerecord.attributes.spree/order') %></th>
          <th><%= sort_link @search, :created_at, I18n.t(:issued_date, scope: 'activerecord.attributes.spree/order') %></th>
          <th><%= I18n.t(:customer_name, scope: 'activerecord.attributes.spree/order') %></th>
          <th><%= I18n.t(:phone_number, scope: 'activerecord.attributes.spree/order') %></th>
          <th><%= sort_link @search, :total, I18n.t(:total, scope: 'activerecord.attributes.spree/order') %></th>
          <th><%= I18n.t(:payment_state, scope: 'activerecord.attributes.spree/order') %></th>
          <th><%= I18n.t(:payment_date, scope: 'activerecord.attributes.spree/order') %></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr id="<%= spree_dom_id order %>" data-hook="admin_subscriptions_index_rows">
            <td><%= link_to order.invoice&.invoice_number, edit_billing_order_path(order) %></td>
            <td><%= order.invoice.date.to_date %></td>
            <td>
              <% if order.customer.first_name.present? %>
                <%= link_to order.customer.first_name, edit_billing_customer_path(order.customer) %>
              <% else %>
                <%= link_to order.customer.last_name, edit_billing_customer_path(order.customer) %>
              <% end %>
            </td>
            <td><%= order.customer&.intel_phone_number %></td>
            <td><%= order.display_total.to_html %></td>
            <td class="no-wrap">
              <% if order.payment_state %>
                <%= link_to I18n.t("spree.billing.payment_state.#{order.payment_state}"),
                  admin_order_payments_path(order),
                  class: "badge badge-pill badge-#{order.payment_state}" %>
              <% end %>
            </td>
            <% if order.payment_state == 'paid' %>
              <td><%= order.payments.last.updated_at.to_date %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @orders } %>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Order)) %>
  </div>
<% end %>
