<div class="row">
  <div data-hook="billing_variant_form_fields" class="col-6">
    <div data-hook="variants">
      <div class="form-group " data-hook="sku">
        <%= f.label :sku, Spree.t(:sku) %>
        <%= f.text_field :sku, class: 'form-control' %>
      </div>
      <div class="form-group " data-hook="price">
        <%= f.label :price, Spree.t(:price) %>
        <%= f.text_field :price, value: number_to_currency(@variant.price, unit: ''), class: 'form-control' %>
      </div>
    </div>
  </div>
  <div data-hook="billing_varaint_option_types_field" class="col-6">
    <% @product.option_types.each do |option_type| %>
      <div class="form-group" data-hook="presentation">
        <%= label :new_variant, option_type.presentation %>
        <% if option_type.name == 'color' %>
          <%= f.collection_select 'option_value_ids', option_type.option_values, :id, :name,
              { include_blank: true }, { name: 'variant[option_value_ids][]', class: 'select2-clear', id: "option_value_ids-#{option_type.id}" } %>
        <% else %>
          <%= f.collection_select 'option_value_ids', option_type.option_values, :id, :presentation,
              { include_blank: true }, { name: 'variant[option_value_ids][]', class: 'select2-clear', id: "option_value_ids-#{option_type.id}"  } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
