<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1c1b20;
        font-family: Arial, sans-serif;
      }
      .pass {
        background-color: white;
        padding: 0 0 16px 0;
        max-width: 600px;
        width: 100%;
      }
      .banner {
        width: 100%;
        height: auto;
      }
      .details {
        padding: 10px;
      }
      .details table {
        width: 100%;
        margin: 0px;
      }
      .details td {
        font-size: 14px;
        padding: 3px 0px;
      }
      .details td:nth-child(2) {
        text-align: right;
      }
      .divider {
        border-bottom: 1px solid #f2f2f2;
        margin: 16px;
      }
      .qr-info-text {
        font-size: 12px;
        text-align: center;
      }
      .seat-number {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin: 4px 0px 6px 0px;
      }
      .qr-code {
        text-align: center;
        margin-top: 20px;
      }
      .qr-code img {
        width: 108px;
        height: 108px;
      }

      .margin-element {
        margin: 12px;
      }
    </style>
    <script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
  </head>
  <body>
    <div class="pass">
      <!-- Banner -->
      <img src="<%= banner_src %>" class="banner" alt="Event Banner" />

      <!-- Event Details -->
      <div class="details">
        <table>
          <tr>
            <td>Date & Time</td>
            <td><%= event_date %></td>
          </tr>
          <tr>
            <td>Venue</td>
            <td><%= venue %></td>
          </tr>
          <tr>
            <td>Full Name</td>
            <td><%= full_name %></td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td><%= phone_number %></td>
          </tr>
          <tr>
            <td>Pass Type</td>
            <td><%= ticket_type %></td>
          </tr>
        </table>
      </div>

      <!-- Divider -->
      <div class="divider margin-element"></div>

      <!-- Ticket Info -->
      <div class="qr-info-text margin-element">
        This QR code is used for individual check-in
      </div>
      <div class="seat-number margin-element">No. <%= seat_number %></div>
      <div id="canvas" class="qr-code margin-element"></div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var qrCode = new QRCodeStyling({
          width: 150,
          height: 150,
          data: "<%= guest_qr_data %>",
          image: "<%= logo_src %>",
          dotsOptions: {
            color: "#000000",
            type: "rounded"
          },
          imageOptions: {
            crossOrigin: "anonymous",
            hideBackgroundDots: true
          }
        });

        qrCode.append(document.getElementById("canvas"));
      });
    </script>
  </body>
</html>
