<%= render partial: 'spree/admin/homepage_feed/shared/feed_tabs', locals: { current: :section } %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_homepage_section), new_admin_homepage_feed_homepage_section_path, { class: "btn-success", icon: 'add.svg', id: 'admin_new_homepage_section' } %>
<% end %>

<% if @collection.any? %>
  <div class="table-responsive">
   <table class="table sortable" data-sortable-link="<%= update_positions_admin_homepage_feed_homepage_section_index_url %>" >
      <thead>
        <tr data-hook="homepage_sections_header">
          <th colspan="3">
            <%= Spree.t(:title) %>
          </th>
          <th><%= Spree.t(:description) %></th>
          <th><%= Spree.t(:created_at) %></th>
          <th><%= Spree.t(:updated_at)%></th>
          <th><%= Spree.t(:active) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @collection.each do |homepage_section| %>
          <tr id="<%= spree_dom_id homepage_section %>" data-hook="homepage_sections_row">
            <td colspan="3" class="move-handle">
              <%= svg_icon name: "sort.svg", width: '18', height: '18' %>
              <label class="ml-2 mr-2" ><%= homepage_section.title %></label>
            </td>
            <td>
              <%= homepage_section.description %>
            </td>
            <td>
              <%= pretty_time(homepage_section.created_at) %>
            </td>
            <td>
              <%= pretty_time(homepage_section.updated_at) %>
            </td>
            <td>
              <%= active_badge(homepage_section.active?) %>
            </td>
            <td class="text-right">
              <%= link_to_edit homepage_section, url: edit_admin_homepage_feed_homepage_section_url(homepage_section), no_text: true, class: 'edit' %>
              <%= link_to_delete homepage_section, url: admin_homepage_feed_homepage_section_url(homepage_section), no_text: true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= form_with model: @object, url: { action: 'update_the_updated_at' } do |f| %>
      <div class="form-actions mt-5" data-hook="buttons">
        <%= button 'Update All Sections', 'save.svg', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }}
        %>
      </div>
    <% end %>
  </div>

<% else %>
  <div class="alert alert-info alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(SpreeCmCommissioner::HomepageSection)) %>
  </div>
<% end %>

  <%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
