<% from_date = line_items.pluck(:from_date).compact.first %>
<% vendor = line_items.first.vendor %>

<div class="content-cell">
  <div class="container">
    <h2><%= I18n.t('mail.order_mailer.event_detail')%></h2>
    <div class="flex two-columns">
      <div class="two-columns-item">
        <div class="flex two-columns-item_detail">
          <div class="two-columns_icon"><%= link_to(image_tag(main_app.url_for(vendor.logo.url(:small)), class: 'vendor-logo'), spree_storefront_resource_url(vendor)) %></div>
          <div class="two-columns_text-container">
            <p class="two-columns_title">Event Name</p>
            <p class="two-columns_description"><%= vendor.name %></p>
          </div>
        </div>
        <div class="flex two-columns-item_detail">
          <div class="two-columns_icon"><%= image_tag "mailer/map-marker.png", class: "mail-icon"%></div>
          <div class="two-columns_text-container">
            <p class="two-columns_title">Location</p>
            <p class="two-columns_description">
              <%= vendor.full_address %>
              <br>
              <%= link_to 'View map', google_map(vendor.stock_location.lat, vendor.stock_location.lon), target: '_blank', class: 'view-map'%>
            </p>
          </div>
        </div>
      </div>
      <div class="vertical-separater"></div>
      <div class="two-columns-item">
        <div class="flex two-columns-item_detail">
          <div class="two-columns_icon"><%= image_tag "mailer/calendar.png", class: "mail-icon"%></div>
          <div class="two-columns_text-container">
            <p class="two-columns_title">Event Start</p>
            <p class="two-columns_description"><%= from_date&.strftime("%d %B, %Y") %></p>
          </div>
        </div>
        <div class="flex two-columns-item_detail">
          <div class="two-columns_icon"><%= image_tag "mailer/phone.png", class: "mail-icon"%></div>
          <div class="two-columns_text-container">
            <p class="two-columns_title">Contact</p>
            <p class="two-columns_description"><%= vendor.contact_us %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>