<% content_for :page_title do %>
  <%= Spree.t(:guests) %>
<% end %>

<% content_for(:sidebar) do %>
  <% if @guest.check_in.present? %>
    <%= render partial: 'check_in_status' %>
  <% else %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= Spree.t(:check_in_status) %></h5>
        <p class="card-text">Click button below to manually check-in guest</p>
        <%= link_to 'Check In', check_in_event_guest_path, method: :post, class: 'btn btn-outline-primary' %>
      </div>
    </div>
  <% end %>
<% end %>

<%= form_with(model: @guest, url: { action: :update }) do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>

