<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :google_wallet } %>

<div class="card card-body mb-3">
    <div data-hook="active" class="form-group">
        <strong><%= Spree.t(:verified) %></strong>
        <%= active_badge(@object.verified?) %>
    </div>

    <% if @object.verified_at.present? %>
    <div data-hook="verified-at" class="form-group">
        <p><%= Spree.t(:verified_at) %>: <%= @object.verified_at %></p>
    </div>
    <% end %>

    <%= button_to Spree.t('verify_with_google_wallet'),
                  verify_with_google_admin_product_google_wallet_path(@product, @object),
                  method: :post,
                  class: 'btn btn-outline-primary my-1',
                  disabled: @object.verified? %>

    <small class="form-text text-muted">
      <%= raw I18n.t('google_wallet.note') %>
    </small>
</div>


<div data-hook="admin_product_google_wallet_edit_form_header">
  <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @object } %>
  <div data-hook="admin_product_google_wallet_edit_form">
    <%= form_with model: @object, url: { action: 'update' } do |f| %>
      <%= render partial: 'form', locals: { f: f  } %>
      <div data-hook="admin_product_google_wallet_form_buttons">
        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
      </div>
    <% end %>
</div>
