<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :guest_card } %>

<% content_for :page_actions do %>
  <%= yield :page_actions %>
  <% if @taxonomy&.present? && @taxon&.present? %>
    <%= button_link_to Spree.t('Edit Event'), spree.admin_taxonomy_taxon_guest_card_classes_url(@taxonomy.id, @taxon.id), icon: 'edit.svg', class: 'btn-light' %>
  <% end %>
  <%= external_page_preview_link(@product) %>
<% end %>

<%= form_tag admin_product_variant_guest_card_classes_path(@product), method: :post, class: 'form-horizontal' do %>
  <div class="my-3">
    <%= render 'variant_guest_card_class' %>
  </div>
<% end %>
