<div class="grid">
  <% @seats.each do |rows| %>
    <div class="row">
      <% rows.each do |seat| %>
        <div class="column ml-4">
          <% if seat['seat_type'] == 0 %>
            <div class="seat-container">
              <div class="seat-icon" data-seat-row="<%= seat['row'] %>" data-seat-column="<%= seat['column'] %>">
                <%= inline_svg_tag "cm-normal-seat-icons.svg", size: "35px" %>
              </div>
              <div class="text-center">
                <input id="<%= seat['row'] %><%= seat['column'] %>"
                        type="text" class="seat-label text-center border-0"
                        value="<%= seat['label'] %>"
                        disabled
                        size="<%= seat['label'].length %>">
              </div>
            </div>
          <% elsif seat['seat_type'] == 1 %>
            <div class="seat-container">
              <div class="seat-icon empty-seat" data-seat-row="<%= seat['row'] %>" data-seat-column="<%= seat['column'] %>">
                <div class="hidden-seat"></div>
              </div>
              <div class="text-center hidden-input">
                <input id="<%= seat['row'] %><%= seat['column'] %>"
                        type="text" class="seat-label text-center border-0"
                        value="<%= seat['label'] %>"
                        disabled
                        size="<%= seat['label'].length %>">
              </div>
            </div>
          <% elsif seat['seat_type'] == 2 %>
            <div class="seat-container">
              <div class="seat-icon" data-seat-row="<%= seat['row'] %>" data-seat-column="<%= seat['column'] %>">
                <%= inline_svg_tag "cm-vip-seat-icons.svg", size: "35px" %>
              </div>
              <div class="text-center">
                <input id="<%= seat['row'] %><%= seat['column'] %>"
                        type="text" class="seat-label text-center border-0"
                        value="<%= seat['label'] %>"
                        disabled
                        size="<%= seat['label'].length %>">
              </div>
            </div>
          <% else%>
            <div class="seat-container">
              <div class="seat-icon" data-seat-row="<%= seat['row'] %>" data-seat-column="<%= seat['column'] %>">
                <%= inline_svg_tag "cm-driver-seat-icons.svg", size: "35px" %>
              </div>
              <div class="text-center hidden-input">
                <input id="<%= seat['row'] %><%= seat['column'] %>"
                        type="text" class="seat-label text-center border-0"
                        value="<%= seat['label'] %>"
                        disabled
                        size="<%= seat['label'].length %>">
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" id="type" name="type">
      <option value="0">normal</option>
      <option value="1">empty</option>
      <option value="2">vip</option>
      <option value="3">driver</option>
      <!-- Add more options if needed -->
    </select>
  </div>
</div>
