<%= render partial: 'spree/transit/shared/product_tabs', locals: {current: :variants} %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @variant } %>
<%= form_with model: @variant, url: { action: 'create' } do |f| %>
  <div class="card mb-3">
    <div class="card-header">
      <h5 class="mb-0"><%= Spree.t(:new_variant) %></h5>
    </div>
    <div class="card-body">
      <div data-hook="admin_variant_new_form">
        <%= render partial: 'form', locals: { f: f } %>
        <%= render partial: 'spree/admin/shared/new_resource_links',locals: { collection_url: spree.transit_route_variants_path }  %>
      </div>
    </div>
  </div>
<% end %>
