<% content_for :page_title do %>
  <%= Spree.t(:customers) %>
<% end %>
<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_customer), new_admin_merchant_customer_path, class: "btn-success", icon: 'add.svg', id: 'admin_new_customer_link' %>
<% end %>
<% content_for :table_filter do %>
  <div data-hook="admin_customers_index_search">
    <%= search_form_for [:admin, @search], url: spree.admin_merchant_customers_path do |f| %>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :email_cont, Spree.t(:email) %>
            <%= f.email_field :email_cont, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :intel_phone_number_cont, Spree.t(:intel_phone_number) %>
            <%= f.telephone_field :intel_phone_number_cont, class: "form-control js-filterable" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :first_name_cont, Spree.t(:first_name) %>
            <%= f.text_field :first_name_cont, class: 'form-control js-filterable' %>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :last_name_cont, Spree.t(:last_name) %>
            <%= f.text_field :last_name_cont, class: 'form-control js-filterable' %>
          </div>
        </div>
      </div>
      <div data-hook="admin_customers_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search.svg' %>
      </div>
    <% end %>
  </div>
<% end %>
<% if @customers.any? %>
  <div class="table-responsive border rounded bg-white mb-3">
    <table class="table" id="listing_customers" data-hook>
      <thead class="text-muted">
        <tr data-hook="admin_customers_index_headers">
          <th>
            <%= sort_link @search, :email, Spree.t(:email), {}, {title: 'customers_email_title'} %>
          </th>
          <th>
            <%= sort_link @search, :first_name, Spree.t(:first_name), {}, {title: 'first_name_title'} %>
          </th>
          <th>
            <%= sort_link @search, :last_name, Spree.t(:last_name), {}, {title: 'last_name_title'} %>
          </th>
          <th>
            <%= sort_link @search, :gender, Spree.t(:gender), {}, {title: 'gender_title'} %>
          </th>
          <th>
            <%= sort_link @search, :intel_phone_number, Spree.t(:intel_phone_number), {}, {title: 'intel_phone_number_title'} %>
          </th>
          <th>
            <%= sort_link @search, :taxon_id, Spree.t(:taxon), {}, {title: 'taxon_title'} %>
          </th>
          <th data-hook="admin_customers_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr id="<%= spree_dom_id customer %>" data-hook="admin_customers_index_rows">
            <td class='customer_email'>
              <%= link_to customer.email, edit_admin_merchant_customer_path(customer) %>
            </td>
            <td class='first_name'>
              <%= customer.first_name %>
            </td>
            <td class='last_name'>
              <%= customer.last_name %>
            </td>
            <td class='gender'>
              <%= customer.gender %>
            </td>
            <td class='roles'>
              <%= customer.intel_phone_number %>
            </td>
            <td class='taxon'>
              <%= customer.taxon&.name %>
            </td>
            <td data-hook="admin_customers_index_row_actions" class="actions">
              <span class="d-flex justify-content-end">
                <%= link_to_edit customer ,url: edit_admin_merchant_customer_path(customer) ,no_text: true if can?(:edit,:merchant, customer) %>
                <%= link_to_delete customer,url: admin_merchant_customer_path(customer), no_text: true if can?(:delete, customer) %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<% if @customers.empty? %>
  <div class="text-center no-objects-found m-5">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(SpreeCmCommissioner::Customer)) %><% if can? :create, SpreeCmCommissioner::Customer %>,
      <%= link_to(Spree.t(:add_one), new_admin_merchant_customer_path) %>!<% end %>
  </div>
<% end %>
