<div class="card mb-3">
    <div class="card-header row justify-content-between pt-3">
      <h5 class="card-title mb-0 h6 alert pl-0">
        <%= Spree.t(line_item.name) %>
      </h5>
      <%= button_to Spree.t(:create_guest), add_guest_admin_order_guests_path(line_item.order, params: { line_item_id: line_item.id }), class: "btn btn-outline-primary" %>
    </div>
    <div class="table-responsive border-0 rounded bg-white">
      <table class="table line-items" data-hook="line-items">
        <thead class="text-muted">
          <tr>
            <th scope="col" class="text-left"><%= Spree.t(:id) %></th>
            <th scope="col" class="text-left"><%= Spree.t(:seat_number) %></th>
            <th scope="col" class="text-left"><%= Spree.t(:formatted_bib_number) %></th>
            <% line_item.kyc_fields.each do |field| %>
              <% case field %>
                <% when :guest_name %>
                  <th scope="col" class="text-left"><%= Spree.t(:full_name) %></th>
                <% when :guest_dob %>
                  <th scope="col" class="text-left"><%= Spree.t(:date_of_birth) %></th>
                <% when :guest_gender %>
                  <th scope="col" class="text-left"><%= Spree.t(:gender) %></th>
                <% when :guest_occupation %>
                  <th scope="col" class="text-left"><%= Spree.t(:occupation) %></th>
                <% when :guest_id_card %>
                  <th scope="col" class="text-left"><%= Spree.t(:id_card_type) %></th>
                  <th scope="col" class="text-left"><%= Spree.t(:id_card_images) %></th>
                <% when :guest_age %>
                  <th scope="col" class="text-left"><%= Spree.t(:age) %></th>
                <% when :guest_emergency_contact %>
                  <th scope="col" class="text-left"><%= Spree.t(:emergency_contact) %></th>
                <% when :guest_entry_type %>
                  <th scope="col" class="text-left"><%= Spree.t(:entry_type) %></th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% (0...[line_item.number_of_guests, line_item.guests.size].max).each do |index| %>
            <% guest = line_item.guests[index] || line_item.guests.new %>
            <% if guest.persisted? %>
              <% if guest.full_name.blank? %>
                <tr>
                  <td class="text-left"><%= guest.id %></td>
                  <td class="text-left"><%= guest.seat_number %></td>
                  <td class="text-left"><%= guest.formatted_bib_number %></td>
                  <td class="text-right">
                    <%= link_to_edit guest, url: edit_admin_order_guest_path(@order, guest), no_text: true %>
                    <%= link_to_delete guest, url: remove_guest_admin_order_guests_path(@order, params: {line_item_id: guest.line_item_id, guest_id: guest.id }) ,no_text: true %>
                  </td>
                </tr>
              <% else %>
                <tr data-hook="event_guests_index_rows">
                  <td class="text-left"><%= guest.id %></td>
                  <% line_item.kyc_fields.each do |field| %>
                    <% case field %>
                      <% when :guest_name %>
                          <td class="text-left">
                            <%= guest.full_name %>
                          </td>
                        <% when :guest_dob %>
                          <td class="text-left">
                            <%= guest.dob&.strftime("%d %b %Y") %>
                          </td>
                        <% when :guest_gender %>
                          <td class="text-left">
                            <%= content_tag(:strong, class: "badge #{badge_color_based_on_gender(guest.gender)} font-weight-bold") do %>
                              <%= guest.gender %>
                            <% end %>
                          </td>
                        <% when :guest_occupation %>
                          <td class="text-left">
                            <%= guest.occupation&.name %>
                          </td>
                        <% when :guest_id_card %>
                          <td class="text-left">
                            <%= content_tag(:strong, class: "badge #{badge_color_base_on_id_card_status(guest.id_card&.card_type)} font-weight-bold") do %>
                              <%= guest.id_card&.card_type&.titleize %>
                            <% end %>
                          </td>
                          <td class="d-flex flex-row gap-5">
                            <% if guest&.id_card&.front_image.nil? && guest&.id_card&.back_image.nil? %>
                              <%= link_to Spree.t(:upload_id_card), new_admin_order_guest_id_card_path(@order, guest_id: guest.id), class: "text-center" %>
                            <% end %>
                            <% if guest&.id_card&.front_image %>
                              <div class="admin-product-image-container small-img">
                                <% if guest&.id_card&.front_image&.attachment %>
                                  <%= link_to main_app.rails_blob_url(guest.id_card.front_image.attachment), target: "_blank" do %>
                                    <%= image_tag main_app.rails_blob_url(guest.id_card.front_image.attachment) %>
                                  <% end %>
                                <% end %>
                              </div>
                            <% end %>
                            <% if guest&.id_card&.back_image %>
                              <div class="admin-product-image-container small-img">
                                <% if guest&.id_card&.back_image&.attachment %>
                                  <%= link_to main_app.rails_blob_url(guest.id_card.back_image.attachment), target: "_blank" do %>
                                    <%= image_tag main_app.rails_blob_url(guest.id_card.back_image.attachment) %>
                                  <% end %>
                                <% end %>
                              </div>
                            <% end %>
                          </td>
                        <% when :guest_entry_type %>
                          <td class="text-left">
                            <%= content_tag(:strong, class: "badge #{badge_color_base_on_entry_type(guest.entry_type)} font-weight-bold uppercase") do %>
                              <%= SpreeCmCommissioner::CheckIn.entry_types.key(guest.entry_type).titleize %>
                            <% end %>
                          </td>
                        <% when :guest_age %>
                          <td class="text-left">
                            <%= guest.age %>
                          </td>
                        <% when :guest_emergency_contact %>
                          <td class="text-left">
                            <%= guest.emergency_contact %>
                          </td>
                    <% end %>
                  <% end %>
                  <td class="text-right flex-grow-1" colspan="<%= line_item.kyc_fields.count %>">
                    <%= link_to_edit guest, url: edit_admin_order_guest_path(@order, guest), no_text: true %>
                    <% if guest&.id_card&.front_image.present? || guest&.id_card&.back_image.present? %>
                      <%= link_to_with_icon 'images.svg', 'Edit Id Card Images', edit_admin_order_guest_id_card_path(order_id: @order, guest_id: guest.id, id: guest.id_card.id), no_text: true, class: "mx-2" %>
                    <% end %>
                    <%= link_to_delete guest, url: remove_guest_admin_order_guests_path(@order, params: {line_item_id: guest.line_item_id, guest_id: guest.id }) ,no_text: true %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr data-hook="event_guests_index_rows">
                <td class="text-left" colspan="<%= line_item.kyc_fields.count + 1 %>">
                  <%= link_to Spree.t(:fill_guest_infomation), new_admin_order_guest_path(params: { line_item_id: line_item.id }) %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
