<% content_for :page_title do %>
  <%= link_to Spree.t(:taxonomies), spree.admin_taxonomies_url %> /

  <%= link_to @taxonomy.root.name, spree.edit_admin_taxonomy_url(@taxonomy) %>
  <% unless @taxon.root? %>
  / <%= @taxon.name %>
  <% end %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_new_user_events), new_admin_user_event_path(params: {taxon_id: @taxon.id}), class: "btn-success", icon: 'add.svg', id: 'admin_new_user_events_link' %>
<% end if can? :create,  SpreeCmCommissioner::UserTaxon %>

<%= render partial: 'spree/admin/shared/taxon_tabs', locals: { current: :user_events } %>

<% if @user_events.any? %>
  <div class="table-responsive border rounded bg-white mb-3">
    <table class="table" id="listing_user" data-hook>
      <thead class="text-muted">
        <tr data-hook="admin_taxonomy_taxon_user_events_index_headers">
          <th><%= Spree.t(:id) %></th>
          <th><%= Spree.t(:email) %></th>
          <th><%= Spree.t(:created_at) %></th>
          <th><%= Spree.t(:updated_at) %></th>
          <th><%= Spree.t(:action) %></th>
        </tr>
      </thead>
      <tbody>
        <% @user_events.each do |user_event| %>
          <% user = user_event.user %>
          <tr id="<%= spree_dom_id user %>" data-hook="admin_taxonomy_taxon_user_events_index_rows">
            <td><%= user.id %></td>
            <td class='user_email'><%= link_to user.email, edit_admin_user_url(user) %></td>
            <td><%= user.created_at %></td>
            <td><%= user.updated_at %></td>
            <td data-hook="admin_taxonomy_taxon_user_events_index_row_actions" class="actions">
              <span class="d-flex justify-content-end">
                <%= link_to_delete user_event, url: admin_user_event_path(user_event.id), no_text: true if can?(:delete, user_event) %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <small class="form-text text-muted">
    <%= raw I18n.t('user.empty_info') %>
  </small>
<% end %>
