<div class="email-wrapper" id="confirm-email">
   <div class="email-content">
      <div class="email-body">
         <div class="email-body_inner">
            <%= render 'spree_cm_commissioner/order_mailer/greeting', order: @order%>
            <% if @product_type == 'ecommerce' %>
               <%= render 'spree_cm_commissioner/order_mailer/your_booking', order: @order, show_booking_header: true%>
               <%= render 'spree_cm_commissioner/order_mailer/event/event_detail', product: @order.products.first %>
            <% else %>
               <%= render 'spree_cm_commissioner/order_mailer/hotel/booking_detail', order: @order, line_items: @order.line_items%>
               <%= render 'spree_cm_commissioner/order_mailer/your_booking', order: @order, show_booking_header: false%>
            <% end %>
            <%= render 'spree_cm_commissioner/order_mailer/customer_info', order: @order%>
            <%= render 'spree_cm_commissioner/order_mailer/info_notice'%>
            <%= render 'spree_cm_commissioner/order_mailer/support_contact'%>
         </div>
      </div>
      <div class="email-footer">
         <%= render 'spree_cm_commissioner/order_mailer/footer', store: @order.store%>
      </div>
   </div>
</div>
