<div class="content-cell">
   <div class="align-center">
      <%#= image_tag logo_path, class: 'logo', alt: current_store.name, title: current_store.name %>
      <%= inline_svg_tag "cm-default-icon.svg", size: "24px*24px", class: "icon-check" %>

      <p class="booking-confirm">
         Your booking is now confirmed!
      </p>
      <p>Thanks <%= current_user.first_name %> <%= current_user.last_name%>,</p>
      <p>
         For reference, your booking ID is <%= @order.number%>.
         <%= Spree.t('order_mailer.confirm_email.instructions') %>
      </p>
   </div>
</div>

<%= render 'spree_cm_commissioner/order_mailer/purchased_items', line_items: @order.line_items%>
<%= render 'spree_cm_commissioner/order_mailer/purchased_summary', order: @order %>

<div class="content-cell">
   <p>
      <%= Spree.t('order_mailer.confirm_email.thanks') %>
      <br />
      CM Market Team
   </p>
</div>
