<tr>
  <td class="email-body" width="570" cellpadding="0" cellspacing="0">
     <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
     <!-- Body content -->
     <tbody>
      <tr>
         <td>
            <div class="f-fallback">
               <%= render 'spree_cm_commissioner/line_item_mailer/greeting', order: @order%>
               <% if @product_type == 'ecommerce' %>
                  <%= render 'spree_cm_commissioner/order_mailer/your_booking', order: @order, show_booking_header: true%>
                  <%= render 'spree_cm_commissioner/order_mailer/event/event_detail', line_items: [@line_item] %>
               <% else %>
                  <%= render 'spree_cm_commissioner/order_mailer/hotel/booking_detail', order: @order, line_items: [line_item] %>
                  <%= render 'spree_cm_commissioner/order_mailer/your_booking', order: @order, show_booking_header: false%>
               <% end %>
               <%= render 'spree_cm_commissioner/order_mailer/customer_info', order: @order%>
               <%= render 'spree_cm_commissioner/order_mailer/info_notice', product_type: @product_type%>
               <%= render 'spree_cm_commissioner/order_mailer/support_contact'%>
            </div>
         </td>
      </tr>
     </tbody>
     </table>
  </td>
</tr>