<%= render partial: 'spree/billing/shared/customer_tabs', locals: { current: :addresses } %>

<div data-hook="billing_customer_addresses" id="billing_customer_edit_addresses">
  <div data-hook="billing_customer_edit_form_header">
    <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @customer } %>
  </div>

  <div data-hook="billing_customer_address_edit_form">
    <%= form_for @customer, url: billing_customer_url(@customer), method: :put do |f| %>
      <%= render partial: 'form', locals: { f: f } %>

      <div class="form-actions text-center card bg-light mb-3" data-hook="billing_customer_edit_form_button">
        <div class="card-body">
          <%= render partial: 'spree/admin/shared/edit_resource_links', locals: { collection_url: collection_url } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
