<div data-hook="admin_telegram_bot_form_fields" class= "row">
   <div class="col-6">
    <%= f.field_container :username do %>
      <%= f.label :username, Spree.t(:username) %> <span class="required">*</span>
      <%= f.text_field :username, class: 'form-control', placeholder: 'eg. bookmeplus_bot', disabled: @object.persisted? %>
      <%= f.error_message_on :username %>
    <% end %>
  </div>
  <div class="col-6">
    <%= f.field_container :token do %>
      <%= f.label :token, Spree.t(:token) %> <span class="required">*</span>
      <%= f.text_field :token, class: 'form-control', value: nil, placeholder: obfuscate_token(f.object.token) %>
      <%= f.error_message_on :token %>
    <% end %>
  </div>
</div>
