<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_tenants_url %>
  <%= link_to @object.name, spree.admin_tenants_url %>
<% end %>

<%= render partial: 'tabs', locals: { current: :edit } %>

<div data-hook="admin_tenants" class="card mb-3">
  <div class="card-header">
    <h5 class="card-title mb-0 h6">
      <%= Spree.t('tenant') %>
    </h5>
  </div>
  <div class="card-body">
    <div data-hook="admin_tenants_edit_form_header">
      <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @object} %>
    </div>
    <div data-hook="admin_tenants_edit_form">
      <%= form_with model: @object, url: { action: 'update' } do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
        <div data-hook="admin_tenants_edit_form_button">
          <%= render partial: 'spree/admin/shared/edit_resource_links' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
