<% content_for :page_title do %>
  <%= I18n.t('spree.transit.vehicle_types') %>
<% end %>
<% content_for :page_actions do %>
  <%= button_link_to I18n.t('spree.transit.new.vehicle_type'), new_transit_vehicle_type_path, { class: "btn-success", icon: 'add.svg', id: 'admin_new_product' } %>
<% end %>
<% render 'filter_form' %>
<% if @vehicle_types.any? %>
  <div class="table-responsive border rounded bg-white mb-3">
    <table class="table" id="listing_customers" data-hook>
      <thead class="text-muted">
        <tr data-hook="admin_customers_index_headers">
          <th>
            <%= Spree.t(:id) %>
          </th>
          <th>
            <%= Spree.t(:name)%>
          </th>
          <th>
            <%= Spree.t(:code) %>
          </th>
          <th>
            <%= Spree.t(:route_type) %>
          </th>
          <th>
            <%= Spree.t(:created_at) %>
          </th>
          <th scope="col" class="text-center" data-hook="admin_products_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @vehicle_types.each do | type| %>
          <tr data-hook="admin_customers_index_rows">
            <td>
              <%= type.id %>
            </td>
            <td>
              <%= link_to type.name, edit_transit_vehicle_type_path(type) %>
            </td>
            <td>
              <%= type.code %>
            </td>
            <td>
              <%= type.route_type.capitalize  %>
            </td>
            <td>
              <%= type.created_at.to_date %>
            </td>
            <td class="actions " data-hook="admin_products_index_row_actions">
              <span class="d-flex justify-content-end">
                <%= link_to_edit type, url: edit_transit_vehicle_type_path(type), no_text: true, class: 'edit' if can?(:edit, type) %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
