<% content_for :page_title do %>
  <%= page_header_back_button spree.transit_vehicle_types_path %>
  <%= I18n.t('spree.transit.vehicle_types') %>
<% end %>
<div data-hook="admin_user_new_form_header">
  <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @object } %>
</div>
<div>
  <%= form_with model: @object, url: { action: 'create' } do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <div data-hook="admin_user_new_form_buttons">
      <%= render partial: 'spree/admin/shared/new_resource_links', locals: { collection_url: spree.transit_vehicle_types_path } %>
    </div>
  <% end %>
  <!-- Add this modal at the end of your view -->
  <div class="modal fade" id="createSeatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new layer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'spree/transit/vehicle_seats/form', vehicle_type: @object %>
        </div>
      </div>
    </div>
  </div>
</div>
