<main class="content" id="content" role="main">
  <%= link_to admin_affiliate_banners_path, class: "btn btn-default", method: :get do %>
    <i class="fa fa-chevron-left"></i> Back
  <% end %>
  <div class="well" style="height:auto">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for [:admin, @affiliate_banner] do |f| %>
          <%= f.input :name, label: "Name", disabled: true %>
          <%= f.input :url, class: "form-control", label: "URL", disabled: true %>
          <%= f.input :banner_text, class: "form-control", label: "Banner Text", disabled: true %>
          <%= f.input :description, class: "form-control", label: "Description", disabled: true %>
          <% if @affiliate_banner.banner? %>
            Banner<br>
            <%= image_tag(@affiliate_banner.banner_url(:medium), class: "img-thumbnail") %><br><br>
          <% end %>

          <%= link_to edit_admin_affiliate_banner_path(@affiliate_banner), class: "btn btn-primary", method: :get do %>
            <i class="fa fa-pencil-square-o"></i> Edit
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>