<div data-hook="admin_user_form_fields" class="row">
  <div class="col-12 ">

    <%= f.field_container :name do %>
      <%= f.label :name, raw(Spree.t(:name) + required_span_tag) %>
      <%= f.text_field :name, class: 'form-control', required: true %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :kind do %>
      <%= f.label :kind, Spree.t(:kind) %>
      <%= f.collection_select :kind, SpreeCmCommissioner::TaxonomyKind::KINDS.map { |k| [k.to_s.capitalize, k] }, :last, :first,
        { include_blank: true },
        { class: 'select2 fullwidth', disabled: (defined?(disabled) && disabled == true) ? 'disabled' : nil }
      %>
      <%= f.error_message_on :kind %>
    <% end %>

  </div>
</div>
