<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h1 class="card-title mb-0 h5">
          <%= Spree.t(:home_page_feed)%>
        </h1>
      </div>
      <div class="card-body">
        <div class="form-group">
          <%= label_tag :trending_categories %>
          <%= select_tag(:trending_category_taxon_ids,
            options_from_collection_for_select(@taxons, :id, :pretty_name, @config[:trending_category_taxon_ids]),
            include_hidden: true , multiple: true,
            class: "select2")
          %>
        </div>
        <div class="form-group">
          <%= label_tag :featured_vendors %>
          <%= select_tag(:featured_vendor_ids,
            options_from_collection_for_select(@vendors, :id, :name, @config[:featured_vendor_ids]),
            include_hidden: true , multiple: true,
            class: "select2")
          %>
        </div>
      </div>
    </div>
  </div>
