<% content_for :page_title do %>
  <%= I18n.t('spree.billing.businesses') %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to I18n.t('spree.billing.add_new_business'), spree.new_billing_business_path(), icon: 'add.svg', class: 'no-wrap btn btn-success align-self-center' %>
<% end %>


<div id="sortableTreeArea">

      <div class="mb-3 border">
        <% if @businesses_taxonomy.root.present? %>
          <div class="p-0 bg-light" data-controller="sortable-tree" data-sortable-tree-handle-value=".move-handle">
            <div data-sortable-tree-parent-id-value="<%= @businesses_taxonomy.root.id %>">

              <% if @businesses_taxonomy.root.children.present? %>
                <% @businesses_taxonomy.root.children.each do |root_children| %>
                  <%= build_sortable_tree(@businesses_taxonomy, root_children) %>
                <% end %>
              <% else %>
                <div class="text-center no-objects-found m-5 m-5">
                  <%= raw Spree.t('billing.taxonomies.no_taxons', taxonomy: @businesses_taxonomy.root.name ) %>
                </div>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>
</div>

