<div data-hook="admin_user_form_fields" class="row">
  <div class="col-12 col-md-6">
    <%= f.hidden_field :customer_id, value: @customer.id %>
    <%= f.field_container :variant_id do %>
      <%= f.label :variant, Spree.t(:variant) %>
      <%= f.collection_select(:variant_id, @customer.subscribable_variants, :id, :sku, { include_blank: false }, { class: 'select2' ,disabled: @subscription.persisted?}) %>
      <%= f.error_message_on :product_id %>
    <% end %>
    <%= f.field_container :start_date do %>
      <%= f.label :start_date, Spree.t(:start_date) %>
      <%= f.date_field :start_date, class: 'form-control', disabled: @subscription.persisted? %>
      <%= f.error_message_on :start_date %>
    <% end %>
    <% if @subscription.id.present? %>
      <%= f.field_container :status do %>
        <%= f.label :status, Spree.t(:status) %>
        <%= f.select :status, SpreeCmCommissioner::Subscription.statuses.keys, {}, class: 'select2' %>
        <%= f.error_message_on :status %>
      <% end %>
    <% end %>
  </div>
</div>
