<div class="hidden-when-print">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <div>
      <%= link_to @variant.name, edit_admin_product_variant_path(product_id: @variant.product.slug, id: @variant.id), class: 'h2' %>
      <div> Total Guests: <strong><%= @total_guests_count %></strong></div>
    </div>
    <button class="btn btn-success"onclick="window.print()"> <%= raw I18n.t('guest_qr_code.label') %></button>
  </div>

  <% if @guests.any? %>
  <div class="table-responsive border rounded bg-white mb-3">
    <table class="table" id="listing_guests" data-hook>
      <thead class="text-muted">
        <tr data-hook="admin_guests_index_headers">
          <th>No. </th>
          <th>Order Number</th>
          <th>Bib Number</th>
          <th>Event</th>
          <th>Created At </th>
          <th>Updated At </th>
        </tr>
      </thead>
      <tbody>
        <% @guests.each_with_index do |guest, index| %>
          <tr id="<%= spree_dom_id guest %>" data-hook="admin_guests_index_rows">
            <td ><%= @index_number + index %></td>
            <td><%= link_to guest.line_item.order.number, edit_admin_order_url(guest.line_item.order) %></td>
            <td ><%= guest.formatted_bib_number %></td>
            <td ><%= guest.event&.name %></td>
            <td ><%= guest.created_at %></td>
            <td ><%= guest.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <%= render 'spree/admin/guest_qr_codes/guest_qr_codes_pagination' %>
  <% else %>
   <small class="form-text text-muted">
      <%= raw I18n.t('guest_qr_code.empty_info') %>
  </small>
  <% end %>
</div>

<div class="show-when-print">
  <%= render 'spree/admin/guest_qr_codes/guest_qr_codes_print_template' , { guests: @guests} %>
</div>

