<% content_for :page_title do %>
  <%= Spree.t(:homepage) %>
<% end %>

<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to_with_icon 'person.svg',
      Spree.t(:feed),
      spree.edit_admin_homepage_feed_path,
      class: "nav-link #{'active' if current == :feed}" %>
  </li>
<% end %>

<%= content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to_with_icon 'person.svg',
    Spree.t(:banner),
    spree.admin_homepage_feed_homepage_banner_index_path,
    class: "nav-link #{'active' if current == :banner}" %>
  </li>
<% end %>

<%= content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to_with_icon 'person.svg',
    Spree.t(:background),
    spree.admin_homepage_feed_homepage_background_index_path,
    class: "nav-link #{'active' if current == :background}" %>
  </li>
<% end %>

<%= content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to_with_icon 'person.svg',
    Spree.t(:section),
    spree.admin_homepage_feed_homepage_section_index_path,
    class: "nav-link #{'active' if current == :section}" %>
  </li>
<% end %>
