<% content_for :page_title do %>
  <%= Spree.t(:listing_price) %>
<% end %>

<% content_for :sidebar do %>
  <%= form_with method: :get, html: { class: 'card p-3 mb-3' } do |f| %>
    <%= select_tag(:vendor_id,
      options_from_collection_for_select(Spree::Vendor.active, :id, :name, params[:vendor_id]),
      include_blank: Spree.t('match_choices.none'),
      class: "select2") %>
    <%= f.hidden_field :active_date, value: params[:active_date] %>
    <div class="form-actions mt-2"><%= button Spree.t(:search), 'search.svg' %></div>
  <% end %>

  <div class="card mb-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <small><%= Spree.t(:min_price) %></small>
        <span class="state badge badge-pill badge-primary text-capitalize">
          <%= @vendor&.display_min_price %>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <small><%= Spree.t(:max_price) %></small>
        <span class="state badge badge-pill badge-primary text-capitalize">
          <%= @vendor&.display_max_price %>
        </span>
      </li>
    </ul>
  </div>
<% end %>

<%= render 'shared/calendar',
  events: SpreeCmCommissioner::CalendarEvent.from_listing_prices(@collections),
  sidebar_partial: 'shared/calendar/listing_prices_sidebar' %>
