<%= render partial: 'spree/billing/shared/order_tabs', locals: { current: :payments } %>

<div data-hook="payment_list" class="mb-3 table-responsive">
  <%= render partial: 'list', locals: { payments: [@payment] } %>
</div>

<% if @payment.state_changes.any? %>
  <div data-hook="payment_state_changes" class="mb-3 table-responsive">
    <%= render partial: 'state_changes', locals: { state_changes: @state_changes } %>
  </div>
<% else %>
  <div class="text-center no-objects-found m-5"><%= Spree.t(:no_state_changes) %></div>
<% end %>

<%= render partial: 'spree/admin/shared/order_summary' %>