<% content_for :page_title do %>
  <%= I18n.t('spree.billing.places') %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to I18n.t('spree.billing.new_place'), new_billing_place_path, { class: "btn-success", icon: 'add.svg', id: 'admin_new_place' } %>
<% end if can?(:create, SpreeCmCommissioner::Place) %>

<% content_for :table_filter do %>
  <div data-hook="admin_places_index_search">
    <%= search_form_for [:billing, @search], url: spree.billing_places_path do |f| %>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :name_cont, Spree.t(:name) %>
            <%= f.text_field :name_cont, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :code_cont, Spree.t(:code) %>
            <%= f.text_field :code_cont, class: "form-control js-filterable" %>
          </div>
        </div>
      </div>
      <div data-hook="admin_places_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search.svg' %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @places.any? %>
  <div class="table-responsive border rounded bg-white">
    <table class="table" id="listing_places">
      <thead class="text-muted">
        <tr data-hook="admin_places_index_headers">
          <th><%= sort_link @search,:name, Spree.t(:name), { default_order: "desc" }, {title: 'admin_places_listing_name_title'} %></th>
          <th><%= sort_link @search,:code, Spree.t(:code), { default_order: "desc" }, {title: 'admin_places_listing_code_title'} %></th>
          <th><%= sort_link @search,:updated_at, I18n.t(:updated_at, scope: 'activerecord.attributes.spree/order'), { default_order: "desc" }, {title: 'admin_places_listing_updated_at_title'} %></th>
          <th><%= sort_link @search,:created_at, I18n.t(:created_at, scope: 'activerecord.attributes.spree/order'), { default_order: "desc" }, {title: 'admin_places_listing_created_at_title'} %></th>
          <th class="text-center" data-hook="admin_places_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @collection.each do |place| %>
          <tr id="<%= spree_dom_id place %>" data-hook="billing_places_index_rows">
            <td>
              <%= link_to place.name, edit_billing_place_path(place) %>
            </td>
            <td>
              <%= link_to place.code, edit_billing_place_path(place) %>
            </td>
            <td>
              <%= place.updated_at.to_date %>
            </td>
            <td>
              <%= place.created_at.to_date %>
            </td>
            <td class="actions" data-hook="admin_places_index_row_actions">
              <span class="d-flex justify-content-end">
                <%= link_to_edit place ,url: edit_billing_place_path(place) ,no_text: true if can?(:edit, place) %>
                <%= link_to_delete place,url: billing_place_path(place), no_text: true if can?(:delete, place) %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
<% end %>