<% content_for :page_title do %>
  <%= plural_resource_name(SpreeCmCommissioner::Place) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_place), new_billing_place_path, { class: "btn-success", icon: 'add.svg', id: 'admin_new_place' } %>
<% end if can?(:create, SpreeCmCommissioner::Place) %>

<% if @places.any? %>
  <div class="table-responsive border rounded bg-white">
    <table class="table" id="listing_places">
      <thead class="text-muted">
        <tr data-hook="admin_places_index_headers">
          <th><%= sort_link @search,:name, Spree.t(:name), { default_order: "desc" }, {title: 'admin_places_listing_name_title'} %></th>
          <th class="text-center" data-hook="admin_places_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @collection.each do |place| %>
          <tr id="<%= spree_dom_id place %>" data-hook="billing_places_index_rows">
            <td>
              <%= link_to place.name, edit_billing_place_path(place) %>
            </td>
            <td class="actions" data-hook="admin_places_index_row_actions">
              <span class="d-flex justify-content-end">
                <%= link_to_edit place ,url: edit_billing_place_path(place) ,no_text: true if can?(:edit, place) %>
                <%= link_to_delete place,url: billing_place_path(place), no_text: true if can?(:delete, place) %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
<% end %>