<div class="row">
  <div class="col-12">

    <%= f.hidden_field :uuid, id: "uuid" %>
    <%= f.hidden_field :config, id: "config"%>

    <%= f.field_container :title do %>
      <div class="form-group">
        <%= f.label :title, raw(Spree.t(:title) + required_span_tag) %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'eg. Video Title', required: true %>
        <%= f.error_message_on :title %>
      </div>
    <% end %>
    
    <%= f.field_container :description do %>
      <div class="form-group">
        <%= f.label :description, raw(Spree.t(:description) + required_span_tag) %>
        <%= f.text_area :description, cols: 60, rows: 6, class: 'form-control', placeholder: 'eg. This product required to complete following step.', required: true %>
        <%= f.error_message_on :description %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :variant_id, raw(Spree::Variant.model_name.human + required_span_tag) %>
      <% if @variants.present? %>
        <%= f.select :variant_id, @variants, {}, {class: 'select2'} %>
      <% else %>
        <p>No variants available</p>
      <% end %>
      <%= f.error_message_on :variant_id %>
    </div>

    <% if f.object.new_record? %>
      <div class="form-group">
        <%= f.label :video_quality, raw(Spree.t(:video_quality) + required_span_tag) %>
        <div class="form-check form-check-inline">
          <% SpreeCmCommissioner::VideoOnDemandBitwise::QUALITY_BIT_FIELDS.each do |field, bit_value| %>
            <div class="form-check form-check-inline ml-3">
              <%= f.check_box field, class: 'form-check-input video_quality_checkbox', id: "#{field}", checked: f.object.quality_value_enabled?(bit_value), disabled: !f.object.new_record? %>
              <%= f.label field, t("video_on_demand.quality.#{field}"), class: 'form-check-label' %>
            </div>
          <% end %>
          <%= f.error_message_on :video_quality, class: 'text-danger' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :video_protocol, raw(Spree.t(:video_protocol) + required_span_tag) %>
        <div class="form-check form-check-inline">
          <% SpreeCmCommissioner::VideoOnDemandBitwise::PROTOCOL_BIT_FIELDS.each do |protocol, bit_value| %>
            <div class="form-check form-check-inline ml-3">
              <%= f.check_box protocol, class: 'form-check-input video_protocol_checkbox', id: "#{protocol}", checked: f.object.protocol_fields.include?(protocol), disabled: !f.object.new_record?  %>
              <%= f.label protocol, t("video_on_demand.protocol.#{protocol}"), class: 'form-check-label' %>
            </div>
          <% end %>
          <%= f.error_message_on :video_protocol, class: 'text-danger' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :frame_rate, raw(Spree.t(:frame_rate) + required_span_tag) %>
        <div class="form-check form-check-inline">
          <% SpreeCmCommissioner::VideoOnDemand.frame_rates.keys.each do |frame_rate| %>
            <div class="form-check form-check-inline ml-3">
              <%= f.radio_button :frame_rate, frame_rate, id: "#{frame_rate}", class: 'form-check-input frame_rates_radios', required: true, disabled: !f.object.new_record?  %>
              <%= f.label :frame_rate, t("video_on_demand.frame_rates.#{frame_rate}"), class: 'form-check-label' %>
            </div>
          <% end %>
          <%= f.error_message_on :frame_rate, class: 'text-danger' %>
        </div>
      </div>
    <% else %>
      <% if @video_on_demand.present? %>
        <div class="m-6">
          <h6 class="">Video Details</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Video Quality:</strong>
              <%= @video_on_demand.quality_fields_uppercase.join(', ') %>
            </li>
            <li class="list-group-item">
              <strong>Video Protocol:</strong>
              <%= @video_on_demand.protocol_fields_uppercase.join(', ') %>
            </li>
            <li class="list-group-item">
              <strong>Frame Rate:</strong>
              <%= SpreeCmCommissioner::VideoOnDemand.frame_rates[@video_on_demand.frame_rate] %>
            </li>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :thumbnail, Spree.t(:thumbnail)%>
        <%= f.file_field :thumbnail, accept: 'image/*', class: 'form-control-file' %>
        <%= f.error_message_on :thumbnail %>
      </div>
      <div class="form-group">
        <%= f.label :file, raw(Spree.t(:video) + required_span_tag) %>
        <%= f.file_field :file, id: 'file_input', required: true, accept: 'video/*', class: 'form-control-file' %>
        <div id="progress-bar" style="width: 0%; height: 20px; background-color: green;"></div>
        <%= f.error_message_on :file %>
      </div>
      <div id="progress_bar_container" style="display: none;">
        <progress id="progress_bar" value="0" max="100" style="width: 100%; height: 30px;"></progress>
      </div>
    <% end %>

  </div>
</div>