<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :video_on_demand } %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @object } %>
<%= form_with model: @object, url: { action: 'update' },
id: "form-presignable",
data: { presigned_url: admin_s3_presigned_urls_path() } do |f| %>

  <div class="card mb-3">
    <div class="card-body">
      <div data-hook="admin_variant_video_on_demand_edit_form">
        <%= render partial: 'form', locals: { f: f} %>
        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
      </div>
    </div>
  </div>
  
  <%= render 'spree/admin/shared/video_on_demand_helper_script' %>
  <%= render 'spree/admin/shared/direct_upload' %>
<% end %>