<% content_for :page_title do %>
  <%= link_to Spree.t(:taxonomies), spree.admin_taxonomies_url %> /

  <%= link_to @taxonomy.root.name, spree.edit_admin_taxonomy_url(@taxonomy) %>
  <% unless @taxon.root? %>
   / <%= @taxon.name %>
   <% end %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_new_vendor), new_admin_taxonomy_taxon_taxon_vendor_path, class: "btn-success", icon: 'add.svg', id: 'admin_new_vendor_link' %>
<% end if can? :create,  SpreeCmCommissioner::TaxonVendor %>

<%= render partial: 'spree/admin/shared/taxon_tabs', locals: { current: :vendors } %>

<% if @taxon_vendors.any? %>
  <div class="table-responsive border rounded bg-white mb-3">
    <table class="table" id="listing_taxon_vendor" data-hook>
      <thead class="text-muted">
        <tr data-hook="admin_taxonomy_taxon_taxon_vendors_index_headers">
          <th><%= Spree.t(:id) %></th>
          <th><%= Spree.t(:vendor_name) %></th>
          <th><%= Spree.t(:created_at) %></th>
          <th><%= Spree.t(:updated_at) %></th>
        </tr>
      </thead>
      <tbody>
        <% @taxon_vendors.each do |taxon_vendor| %>
          <tr id="<%= spree_dom_id taxon_vendor %>" data-hook="admin_taxonomy_taxon_taxon_vendors_index_rows">
            <td><%= taxon_vendor.id %></td>
            <td><%= taxon_vendor.vendor.name %></td>
            <td><%= taxon_vendor.created_at %></td>
            <td><%= taxon_vendor.updated_at %></td>
            <td data-hook="admin_taxonomy_taxon_taxon_vendors_index_row_actions" class="actions">
              <span class="d-flex justify-content-end">
                <%= link_to_edit taxon_vendor, url: edit_admin_taxonomy_taxon_taxon_vendor_path(id: taxon_vendor.id), no_text: true if can?(:edit, :admin, taxon_vendor) %>
                <%= link_to_delete taxon_vendor, url: admin_taxonomy_taxon_taxon_vendor_path(id: taxon_vendor.id), no_text: true if can?(:delete, taxon_vendor) %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <small class="form-text text-muted">
    <%= raw I18n.t('taxon_vendor.empty_info') %>
  </small>
<% end %>



