<% content_for :table_filter do %>
  <div data-hook="transit_branch_index_search">
    <%= search_form_for [:branch, @search], url: spree.transit_branches_path do |f| %>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :name_cont, I18n.t('spree.name') %>
            <%= f.text_field :name_cont, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :q_state_id_eq, I18n.t('spree.transit.location') %>
            <%= f.select :state_id_eq, Spree::State.all.map{|s| [s.name, s.id]}, { prompt: "Select a location" }, class: "form-control select2 js-quick-search-target js-filterable" %>
          </div>
        </div>
      </div>
      <div data-hook="transit_branch_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search.svg' %>
      </div>
    <% end %>
  </div>
<% end %>