<div class="content-cell">
  <div class="container">
    <h2><%= I18n.t('mail.order_mailer.customer_info')%></h2>
    <div class="flex two-columns">
      <div class="two-columns-item">
        <div class="flex two-columns-item_detail">
          <div class="two-columns_icon"><%= image_tag "mailer/user.png", class: "mail-icon"%></div>
          <div class="two-columns_text-container">
            <p class="two-columns_title">Name</p>
            <p class="two-columns_description"><%= user_full_name(order) %></p>
          </div>
        </div>
        <div class="flex two-columns-item_detail">
          <div class="two-columns_icon"><%= image_tag "mailer/envelope.png", class: "mail-icon"%></div>
          <div class="two-columns_text-container">
            <p class="two-columns_title">Email</p>
            <p class="two-columns_description"><%= order.email %></p>
          </div>
        </div>
      </div>
      <div class="vertical-separater"></div>
      <div class="two-columns-item">
        <div class="flex two-columns-item_detail">
          <div class="two-columns_icon"><%= image_tag "mailer/phone.png", class: "mail-icon"%></div>
          <div class="two-columns_text-container">
            <p class="two-columns_title">Contact</p>
            <p class="two-columns_description"><%= order.phone_number || order.intel_phone_number || 'N/A' %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>