<div class="content-cell">
  <div class="container">
    <h2><%= I18n.t('mail.order_mailer.bookmeplus_support')%></h2>
    <div class="flex two-columns">
      <div class="two-columns-item_left">
        <div class="flex two-columns-item_detail">
          <div class="two-columns_icon"><%= image_tag "mailer/phone.png", class: "mail-icon"%></div>
          <div class="two-columns_text-container">
            <p class="two-columns_title">Contact</p>
            <div class="two-columns_description">
              <p class="two-columns_description"><%= current_store.contact_phone%></p>
            </div>
          </div>
        </div>
      </div>
      <div class="vertical-separater"></div>
      <div class="two-columns-item">
        <div class="flex two-columns-item_detail">
          <div class="two-columns_icon"><%= image_tag "mailer/envelope.png", class: "mail-icon"%></div>
          <div class="two-columns_text-container">
            <p class="two-columns_title">Email</p>
            <p class="two-columns_description"><%= current_store.customer_support_email%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>