<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
  <tr>
    <td align="center">
      <div class="content-wrapper">
        <div class="bar-large"></div>
        <div class="main-content">
            <div class="content">
              <div><%= image_tag "mailer/bookme-plus_light.svg", class: "logo" %></div>
              <div class="heading-1">
                Become a part of the <br> event <strong> <%= @invite_user_event.invite.taxon.name %> </strong>
              </div>
              <div class="bar-thin"></div>
              <div class="heading-2">
                <%= @invite_user_event.invite.inviter.full_name.presence || @invite_user_event.inviter.email %> invites you to join the <br>
                <span class="title-bold">Check-in Crew</span> for the event <br>
                <%= @invite_user_event.invite.taxon.name %>
              </div>
              <div style="text-align: center;">
                <a href="<%= @invite_user_event.invite.invite_url %>" class="action-button">
                  Get Started
                </a>
              </div>
              <div class="heading-3">
                Please note that this invitation will expire<br>
                in <%= ((@invite_user_event.invite.expires_at - Time.current) / 1.hour).round %> hours.
              </div>
            </div>
        </div>
      </div>
    </td>
  </tr>
</table>

