<%= render 'spree/admin/merchant/shared/order_tabs', current: :edit %>

<div data-hook="admin_merchant_order_edit_header">
  <%= render 'spree/admin/shared/error_messages', target: @order %>
</div>

<div class="admin_merchant_order_edit_form">
  <%= form_with model: @object, url: { action: 'update'} do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <div data-hook="admin_order_edit_form_button">
      <%= render partial: 'spree/admin/shared/edit_resource_links', locals: { collection_url: spree.admin_merchant_orders_path } %>
    </div>
  <% end %>
</div>
<%= render 'spree/admin/shared/order_summary' %>