<%= render partial: 'spree/admin/shared/customer_notification_tabs', locals: { current: :details , object: @object } %>

<div data-hook="admin_customer_notification_edit_form_header">
  <%= render partial: 'spree/admin/shared/error_messages', locals: { target:@object } %>
</div>
<div data-hook="admin_customer_notification_edit_form">
  <%= form_with model: @object, url: { action: 'update' } do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <div data-hook="admin_customer_notification_edit_form_button">
      <%= render partial: 'spree/admin/shared/edit_resource_links', locals: { collection_url: spree.admin_customer_notifications_path } %>
    </div>
  <% end %>
</div>

