<% content_for :page_title do %>
  <%= I18n.t('spree.transit.routes') %>
<% end %>
<% content_for :page_actions do %>
  <%= button_link_to I18n.t('spree.transit.new.route'), new_transit_route_path, { class: "btn-success", icon: 'add.svg', id: 'admin_new_product' } %>
  <%= button_link_to Spree.t(:edit_icons),
  admin_vectors_option_values_url,
  { icon: 'spree-icon.svg', id: 'admin-option-values-icons-index' }
%>
<% end %>
<% render 'filter_form' %>
<% if @collection.any? %>
  <div class="table-responsive border rounded bg-white mb-3">
    <table class="table" id="listing_customers" data-hook>
      <thead class="text-muted">
        <tr data-hook="admin_customers_index_headers">
          <th>
            <%= Spree.t(:name)%>
          </th>
          <th>
            <%= Spree.t(:short_name) %>
          </th>
          <th>
            <%= Spree.t(:stop_legs) %>
          </th>
          <th>
            <%= Spree.t(:route_type) %>
          </th>
          <th>
            <%= Spree.t(:price) %>
          </th>
          <th scope="col" class="text-center" data-hook="admin_products_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @collection.each do |route| %>
          <tr data-hook="admin_customers_index_rows">
            <td>
              <%= route.name %>
            </td>
            <td>
              <%= route.short_name %>
            </td>
            <td>

              <% origin = Spree::Taxon.find_by(id: route.origin_id) %>
              <% destination = Spree::Taxon.find_by(id: route.destination_id) %>

              <% if origin.present? && destination.present? %>
                <%= origin.name %> <%= '->' %> <%= destination.name %>
              <% end %>
            </td>
            <td>
              <% if route.route_type.present? %>
                <%= route.route_type.capitalize  %>
              <% end %>
            </td>
            <td>
              <%= display_price(route) %>
            </td>
            <td class="actions " data-hook="admin_products_index_row_actions">
              <span class="d-flex justify-content-end">
                <%= link_to_edit route, url: edit_transit_route_path(route.id), no_text: true, class: 'edit' if can?(:edit, route.id) && !route.deleted? %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Product)) %>,
    <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::Product) %>!
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>

