<%= render partial: 'spree/admin/users/tabs', locals: { current: :user_identity_providers } %>

<div data-hook="admin_user_user_identity_providers" class="card mb-3">
  <div class="card-header">
    <h5 class="card-title mb-0 h6">
      <%= Spree.t(:user_identity_providers) %>
    </h5>
  </div>
  <div class="card-body">
    <div data-hook="admin_user_user_identity_providers_edit_form_header">
      <%= render partial: 'spree/admin/shared/error_messages', locals: { target:@object} %>
    </div>
    <div data-hook="admin_user_user_identity_providers_edit_form">
      <%= form_with model: @object, url: { action: 'update' } do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
        <div data-hook="admin_user_user_identity_providers_edit_form_button">
          <%= render partial: 'spree/admin/shared/edit_resource_links', locals: { collection_url: spree.admin_user_user_identity_providers_path } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
