<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :stock_managements } %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product } %>

<% if false && can?(:create, Spree::StockMovement) %>
  <div id="add_stock_form" class="card mb-3">
    <%= render 'add_stock_form' %>
  </div>
<% end %>

<div class="table-responsive border rounded bg-white">
  <table class="table" id="listing_product_stock">
    <thead class="text-muted">
      <tr data-hook="admin_product_stock_management_index_headers">
        <th colspan="2"><%= Spree.t(:variant) %></th>
        <th colspan="3"><%= Spree.t(:stock) %></th>
      </tr>
    </thead>
    <tbody>
      <% @variants.each do |variant| %>
        <tr id="<%= spree_dom_id variant %>" data-hook="admin_product_stock_management_index_rows">
          <td class="image text-center">
              <%= small_image(variant) %>
              <div class="mt-4">
                Reserved Stock: <%= @reserved_stocks[variant.id] || 0 %></strong>
              </div>
          </td>
          <td>
            <%= variant.sku_and_options_text %>
            <%= form_tag admin_product_variants_including_master_path(@product, variant, format: :js), method: :put, class: 'toggle_variant_track_inventory mt-2' do %>
              <div class="checkbox">
                <%= label_tag "track_inventory_#{ variant.id }", class: 'm-0' do %>
                  <%= check_box_tag 'track_inventory', 1, variant.track_inventory?, class: 'track_inventory_checkbox', id: "track_inventory_#{ variant.id }" %>
                  <%= Spree.t(:track_inventory) %>
                  <%= hidden_field_tag 'variant[track_inventory]', variant.track_inventory?, class: 'variant_track_inventory', id: "variant_track_inventory_#{variant.id}" %>
                <% end %>
              </div>
            <% end if can?(:update, @product) && can?(:update, variant) %>
            <% if variant.permanent_stock? %>
              <div>
                <span type="button" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="This product stock will renew every day">
                    <%= svg_icon name: "info-circle-fill.svg", width: '14', height: '14' %>
                </span>
                <%= label_tag "permanent_stock_#{ variant.id }", Spree.t(:permanent_stock) %>
              </div>
            <% end %>
          </td>

          <td colspan="3" class="stock_location_info">
            <%= render partial: 'variant_stock_items', locals: { variant: variant } if variant.vendor.stock_locations.any? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
