  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <div class="form-group">
            <%= f.field_container :name do %>
              <%= f.label :name %> <span class="required text-danger">*</span>
              <%= f.text_field :name, required: true, class: 'form-control' %>
            <% end %>

            <%= f.hidden_field :orders_json %>
            <%= f.field_container :file do %>
              <%= f.label :file %> <span class="required text-danger">*</span>
              <%= file_field_tag :file, require: true, id: 'csv-file' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>
  document.getElementById('csv-file').addEventListener('change', function(event) {
    const file = event.target.files[0];
    const reader = new FileReader();

    reader.onload = function(event) {
      const csvData = event.target.result;
      const jsonData = convertCsvToJson(csvData);
      const hiddenInput = document.querySelector('input[name="spree_cm_commissioner_imports_import_order[orders_json]"]');
      hiddenInput.value = jsonData;
    };

    reader.readAsText(file);
  });

  function convertCsvToJson(csvData) {
    // Initialize guest array
    const guests = [];

    // Split csv rows by new line
    const rows = csvData.split('\n');

    // Get the headers from the first row
    const headers = rows[0].split(',');

    // Loop through the rest of the rows
    for (let i = 1; i < rows.length; i++) {
      const line = rows[i].trim();
      if (line === '') continue;  // Skip empty rows

      const values = line.split(','); // Split the value by comma
      const guest = {};

      for (let j = 0; j < headers.length; j++) {

        // Assign the value to the header as key and value
        guest[headers[j].trim()] = values[j].trim() || '';
      }

      guests.push(guest); // Push guest object into array
    }

    return JSON.stringify(guests);
  }
</script>
