  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <div class="form-group">
            <%= f.field_container :name do %>
              <%= f.label :name %> <span class="required text-danger">*</span>
              <%= f.text_field :name, required: true, class: 'form-control' %>
            <% end %>
            <%= f.field_container :imported_file do %>
              <%= f.label :imported_file %> <span class="required text-danger">*</span>
              <%= file_field_tag :imported_file, require: true, id: 'csv-file' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


