<% content_for :page_title do %>
  <%= link_to Spree.t(:taxonomies), spree.admin_taxonomies_url %> /
  <%= link_to @taxonomy.root.name, spree.edit_admin_taxonomy_url(@taxonomy) %>
  <% unless @taxon.root? %>
    / <%= link_to @taxon.name, spree.edit_admin_taxonomy_url(@taxon) %>
  <% end %> / <%= Spree.t(:edit) %>
<% end %>

<%= render partial: 'spree/admin/shared/taxon_tabs', locals: { current: :operators } %>

<div class="card">
  <div class="card-body">
    <%= form_with model: @object, url: { action: 'update', id: @object.id }, method: :patch do |f| %>
      <%= f.hidden_field :taxon_id, value: @taxon.id %>
      <div class="form-group" data-hook="user">
        <%= f.label :user_id, Spree.t('user') %>
        <%= f.collection_select :user_id, Spree::User.all, :id, :email, { include_blank: Spree.t('match_choices.none') }, class: 'form-control' %>
      </div>
      <fieldset data-hook="edit_taxon_user">
        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
      </fieldset>
    <% end %>
  </div>
</div>
