<%= form_with method: :get do |f| %>
  <div class="form-group date-range-filter">
    <div class="date-range-filter">
      <div class="input-group datePickerFrom mb-2"
            data-wrap="true"
            data-alt-format="<%= Spree.t(:fpr_human_friendly_date_format, scope: 'date_picker', default: 'M j, Y') %>">

        <%= f.text_field :from_date,
                          class: 'form-control',
                          placeholder: Spree.t(:starting_from),
                          value: params[:from_date].to_date,
                          'data-input':'' %>

        <%= render partial: 'spree/admin/shared/cal_close' %>
      </div>

      <div class="input-group datePickerTo"
            data-wrap="true"
            data-alt-format="<%= Spree.t(:fpr_human_friendly_date_format, scope: 'date_picker', default: 'M j, Y') %>"
            data-min-date="<%= params[:from_date] %>">

        <%= f.text_field :to_date,
                          class: 'form-control',
                          placeholder: Spree.t(:ending_at),
                          value: params[:to_date].to_date,
                          'data-input':'' %>

        <%= render partial: 'spree/admin/shared/cal_close' %>
      </div>
    </div>
  </div>
  <div class="form-group period-range-filter">
    <div class="form-group">
      <%= f.select :period,
                  options_for_select([['This Month', 'this_month'],
                                      ['Last Month',  'last_month'],
                                      ['This Week', 'this_week'],
                                      ['Last Week', 'last_week'],
                                      ['This Quarter', 'this_quarter'],
                                      ['Last Quarter', 'last_quarter'],
                                      ['This Year', 'this_year'],
                                      ['Last Year', 'last_year']]), {include_blank: true}, for: 'period-select', class: 'period-select form-control select2-clear js-filterable', id: 'period-select' %>
    </div>
  </div>

  <div class="from-group payable-picker">
    <div class="form-group">
      <%= f.label :payments_payable_id_eq, I18n.t(:cashier, scope: 'activerecord.attributes.spree/report') %>
      <%= f.select 'q[payments_payable_id_eq]', options_for_select(Spree::User.joins(:payments).all.uniq.map {|user| [user.full_name.presence || user.intel_phone_number.presence || user.email.presence, user.id]}, params.dig(:q, :payments_payable_id_eq)), { include_blank: true }, { class: 'payable-picker form-control select2-clear js-filterable' } %>
    </div>
  </div>

  <div class="form-actions">
    <%= button Spree.t(:search), 'search.svg', nil, { class: 'btn-outline-primary' } %>
  </div>
<% end %>
