<%= form_with method: :get do |f| %>
  <div class="form-group date-range-filter">
    <div class="date-range-filter">
      <div class="input-group datePickerFrom mb-2"
            data-wrap="true"
            data-alt-format="<%= Spree.t(:fpr_human_friendly_date_format, scope: 'date_picker', default: 'M j, Y') %>">

        <%= f.text_field :from_date,
                          class: 'form-control',
                          placeholder: Spree.t(:starting_from),
                          value: params[:from_date].to_date,
                          'data-input':'' %>

        <%= render partial: 'spree/admin/shared/cal_close' %>
      </div>

      <div class="input-group datePickerTo"
            data-wrap="true"
            data-alt-format="<%= Spree.t(:fpr_human_friendly_date_format, scope: 'date_picker', default: 'M j, Y') %>"
            data-min-date="<%= params[:from_date] %>">

        <%= f.text_field :to_date,
                          class: 'form-control',
                          placeholder: Spree.t(:ending_at),
                          value: params[:to_date].to_date,
                          'data-input':'' %>

        <%= render partial: 'spree/admin/shared/cal_close' %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= button Spree.t(:search), 'search.svg', nil, { class: 'btn-outline-primary' } %>
  </div>
  <% end %>