<% content_for :page_title do %>
  <%= Spree.t('billing.active_subscribers') %>
<% end %>

<% content_for :sidebar do %>
  <div data-hook="billing_customer_filter">
    <%= search_form_for [:billing, @search], url: spree.active_subscribers_billing_report_path do |f| %>
      <div class="form-group">
        <%= f.label :first_name_or_last_name_cont, I18n.t(:customer_name, scope: 'activerecord.attributes.spree/order') %>
        <%= f.text_field :first_name_or_last_name_cont, placeholder: I18n.t(:customer_name, scope: 'activerecord.attributes.spree/order'), class: "form-control js-quick-search-target js-filterable" %>
      </div>
      <div class="form-group">
        <%= f.label :phone_number_cont, I18n.t(:phone_number, scope: 'activerecord.attributes.spree/order') %>
        <%= f.text_field :phone_number_cont, placeholder: I18n.t(:phone_number, scope: 'activerecord.attributes.spree/order'), class: "form-control js-filterable" %>
      </div>
      <div class="form-group">
        <%= f.label :sequence_number_cont,I18n.t(:customer_id, scope: 'activerecord.attributes.spree/order') %>
        <%= f.text_field :sequence_number_cont, placeholder: I18n.t(:customer_id, scope: 'activerecord.attributes.spree/order'), class: "form-control js-filterable" %>
      </div>
      <div class="form-group">
        <%= f.label :taxons_id_eq, I18n.t(:product_type, scope: 'activerecord.attributes.spree/order') %>
        <%= f.select :taxons_id_eq, SpreeCmCommissioner::Customer.includes(:taxons).pluck(:taxon_id).uniq.map{ |taxon_id| [Spree::Taxon.find(taxon_id).pretty_name, taxon_id] }, { include_blank: true }, class: "select2-clear form-control js-filterable" %>
      </div>
      <div data-hook="admin_products_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search.svg', nil, { class: 'btn-outline-primary' } %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @customers.any? %>
  <div class="table-responsive border rounded bg-white mb-3">
    <table class="table" id="listing_customers" data-hook>
      <thead class="text-muted">
        <tr data-hook="admin_customers_index_headers">
          <th>
            <%= sort_link @search, :id, Spree.t(:id), {}, {title:"id_title"} %>
          </th>
          <th>
            <%= sort_link @search, :full_name, Spree.t(:full_name), {}, {title: 'fullname_title'} %>
          </th>
          <th>
            <%= sort_link @search, :phone_number, Spree.t(:phone_number), {}, {title: 'phone_number_title'} %>
          </th>
          <th>
            <%= sort_link @search, :taxon_id, Spree.t(:type), {}, {title: 'taxon_title'} %>
          </th>
          <th>
            <%= sort_link @search, :created_at, Spree.t(:created_at),{},{title:'created_at_title'} %>
          </th>
          <th>
            <%= sort_link @search, :active_subscriptions_count, I18n.t('spree.billing.subscriptions'),{},{title:'active_subscriptions_count_title'} %>
          </th>
          <th data-hook="admin_customers_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr id="<%= spree_dom_id customer %>" data-hook="admin_customers_index_rows">
            <td>
              <%= link_to customer.customer_number, edit_billing_customer_path(customer) %>
            </td>
            <td>
              <% if customer.first_name.present? %>
                <%= link_to customer.first_name, edit_billing_customer_path(customer) %>
              <% else %>
                <%= link_to customer.last_name, edit_billing_customer_path(customer) %>
              <% end %>
            </td>
            <td>
              <%= customer.phone_number %>
            </td>
            <td class='taxon'>
              <%= customer.taxons.map(&:name).join(' ') %>
            </td>
            <td>
              <%= customer.created_at.to_date %>
            </td>
            <td>
              <% @badge_class = "badge-active" if customer.active_subscriptions_count > 0 %>
              <% @badge_class = "badge-inactive" if customer.active_subscriptions_count == 0 %>
              <%= content_tag(:strong, class: "badge #{@badge_class} ") do %>
                <%= customer.active_subscriptions_count %>
              <% end %>
            </td>
            <td data-hook="admin_customers_index_row_actions" class="actions">
              <span class="d-flex justify-content-end">
                <%= link_to_edit customer ,url: edit_billing_customer_path(customer) ,no_text: true if can?(:edit, customer) %>
                <%= link_to_delete customer,url: billing_customer_path(customer), no_text: true if can?(:delete, customer) %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<% if @customers.empty? %>
  <div class="text-center no-objects-found m-5">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(SpreeCmCommissioner::Customer)) %><% if can? :create, SpreeCmCommissioner::Customer %>,
      <%= link_to(Spree.t(:add_one), new_billing_customer_path) %>!<% end %>
  </div>
<% end %>
