<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @vendor } %>
<div class="form-group">
  <%= f.field_container :name do %>
    <%= f.label Spree.t('billing.name') %>
    <%= f.text_field :name, class: 'form-control' %>
  <% end %>
  <%= f.field_container :code do %>
    <%= f.label Spree.t('billing.code') %>
    <%= f.text_field :code, class: 'form-control' %>
  <% end %>
  <% if Spree.version.to_f >= 3.6 %>
    <div class="row p-2">
      <%= render 'shared/asset_field',
      field: :logo,
      label: Spree.t("billing.logo"),
      asset: @vendor.logo,
      classes: ['col m-2'],
      form:f
     %>
      <%= render 'shared/asset_field',
      field: :payment_qrcode,
      label: Spree.t("billing.payment_qrcode"),
      asset: @vendor.payment_qrcode,
      remove_url: billing_vendor_payment_qrcodes_path(@vendor),
      classes: ['col m-2'],
      form:f
     %>
      <%= render 'shared/asset_field',
      field: :image,
      label: Spree.t('billing.image'),
      asset: @vendor.image,
      classes: ['col m-2'],
      form:f
     %>
    </div>
  <% end %>
  <div class='row'>
    <div class='col-6'>
      <%= f.field_container :preferences do %>
        <%= f.label Spree.t('billing.account_name') %>
        <%= f.text_field :account_name, class: 'form-control' %>
      <% end %>
    </div>
    <div class='col-6'>
      <%= f.field_container :preferences do %>
        <%= f.label Spree.t('billing.account_number') %>
        <%= f.text_field :account_number, class: 'form-control' %>
      <% end %>
    </div>
    <div class='col-6'>
      <%= f.field_container :preferences do %>
        <%= f.label Spree.t('billing.penalty_label') %>
        <%= f.text_field :penalty_label, class: 'form-control' %>
      <% end %>
    </div>
    <div class='col-6'>
      <%= f.field_container :preferences do %>
        <%= f.label Spree.t('billing.penalty_rate') %>
        <%= f.text_field :penalty_rate, class: 'form-control' %>
      <% end %>
    <div>
  </div>
</div>
