<%= render partial: 'spree/admin/shared/vendor_tabs', locals: { current: :vendor_rules } %>

<% content_for :page_title do %>
  <%= link_to plural_resource_name(Spree::Vendor), spree.admin_vendors_url %> /
  <%= @vendor.name %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:edit_icons), 
    admin_vectors_option_values_url, 
    { icon: 'spree-icon.svg', id: 'admin-option-values-icons-index' } 
  %>
<% end %>

<%= form_with model: @vendor, url: { action: 'update' } do |form| %>
  <% unless @vendor_kind_option_types.empty? %>
    <%= render partial: 'form', locals: { form: form } %>
    <div class='form-actions' data-hook='buttons'>
      <%= button Spree.t('actions.update'), 'save.svg', 'submit', { class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
    </div>
  <% else %>
    <small class="form-text text-muted">
      <%= raw I18n.t('vendor.validation.vendor_kind_option_types.empty_info') %>
    </small>
  <% end %>
<% end %>


