<div class="table-responsive border rounded bg-white">
  <div id="variant_pricing_models-table-wrapper">
    <table class="table sortable table-bordered table-hover" data-sortable-link="<%= update_positions_admin_product_variants_path(@product) %>">
      <thead class="text-muted">
        <tr class="text-center">
          <th></th>
          <th><%= Spree.t(:id) %></th>
          <th><%= Spree.t(:rules) %></th>
          <th><%= Spree.t(:match_policy) %></th>
          <th><%= Spree.t(:effective_from) %></th>
          <th><%= Spree.t(:effective_to) %></th>
          <% if false  %><th><%= Spree.t(:variant) %></th><% end %>
          <th><%= Spree.t(:pricing_actions) %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody id="sortVert">
      <% @pricing_models.each do |pricing_model| %>
        <tr id="<%= spree_dom_id pricing_model %>" data-hook="pricing_models_row">
          <td class="move-handle">
            <% if can? :edit, pricing_model %>
              <%= svg_icon name: "grip-vertical.svg", width: '18', height: '18' %>
            <% end %>
          </td>
          <td class="text-center"><%= pricing_model.id || 0 %></td>
          <td>
            <ul class="m-0">
              <% pricing_model.pricing_rules.each do |rule| %>
                <li class="py-1 px-2">
                  <%= rule.description %>
                </li>
              <% end %>
            </ul>
          </td>
          <td class="text-center">
            <p class="badge badge-secondary border bg-light m-0 text-dark" data-toggle="tooltip" data-placement="top" title='<%= Spree.t("pricing_model.match_#{pricing_model.match_policy}") %>'>
              <span class="align-middle"><%= pricing_model.match_policy %></span>
              <%= svg_icon name: "info-circle.svg", width: '14', height: '14' %>
            </p>
          </td>
          <td><%= pretty_date(pricing_model.effective_from) if pricing_model.effective_from.present? %></td>
          <td><%= pretty_date(pricing_model.effective_to) if pricing_model.effective_to.present? %></td>
          <% if false  %><th><%= pricing_model.modelable.options_text %></th><% end %>
          <td>
            <ul class="m-0">
              <% pricing_model.pricing_actions.each do |action| %>
                <li class="py-1 px-2">
                  <%= action.description %>
                </li>
              <% end %>
            </ul>
          </td>
          <td class="actions">
            <span class="d-flex justify-content-end">
              <%= link_to_edit(pricing_model, no_text: true) if pricing_model.persisted? && can?(:edit, pricing_model) %>
              <%= link_to_delete(pricing_model, no_text: true) if pricing_model.persisted? && can?(:destroy, pricing_model) %>
            </span>
          </td>
        </tr>
        <% end %>
        <% unless @pricing_models.any? %>
          <tr>
            <td colspan="5"><%= Spree.t(:none) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
