<% content_for :page_title do %>
  <%= page_header_back_button spree.billing_customers_path %>
  <%= @customer.fullname %>
<% end %>
<% content_for :page_tabs do %>
  <% if spree_current_user.permissions.exists?(entry: 'spree/billing/customers', action: 'edit') %>
    <li class="nav-item">
      <%= link_to_with_icon 'person.svg',
        Spree.t(:customer),
        spree.edit_billing_customer_path(@customer),
        class: "nav-link #{'active' if current == :account}" %>
    </li>
  <% end %>
  <% if spree_current_user.permissions.exists?(entry: 'spree/billing/subscriptions', action: 'index') %>
    <li class="nav-item">
      <%= link_to_with_icon 'tag.svg',
        Spree.t('billing.subscriptions'),
        spree.billing_customer_subscriptions_path(@customer),
        class: "nav-link #{'active' if current == :subscriptions}" %>
    </li>
  <% end %>
  <% if spree_current_user.permissions.exists?(entry: 'spree/billing/orders', action: 'index') %>
    <li class="nav-item">
      <%= link_to_with_icon 'tag.svg',
        Spree.t('billing.orders'),
        spree.billing_customer_orders_path(@customer),
        class: "nav-link #{'active' if current == :orders}" %>
    </li>
  <% end %>
  <% if spree_current_user.permissions.exists?(entry: 'spree/billing/store_credits', action: 'index') %>
    <li class="nav-item">
      <%= link_to_with_icon 'money.svg',
        Spree.t(:store_credits),
        spree.billing_customer_store_credits_path(@customer),
        class: "nav-link #{'active' if current == :store_credits}" %>
    </li>
  <% end %>
  <% if spree_current_user.permissions.exists?(entry: 'spree/billing/addresses', action: 'index') %>
    <li class="nav-item">
      <%= link_to_with_icon 'pin-map.svg',
        Spree.t(:address),
        spree.billing_customer_addresses_path(@customer),
        class: "nav-link #{'active' if current == :addresses}" %>
    </li>
  <% end %>
<% end %>
