 <%

  @vendor = @invoice.order.line_items.first.vendor
  @address =  @vendor.stock_locations.first.address1
  @location_code = @vendor.stock_locations.first.reference
  @title =  @vendor.name
  @contact =  @vendor.contact_us
  @email =  @vendor.notification_email
  @note =  @vendor.note

  @product = @invoice.order.line_items.first.variant.sku
  @price = @invoice.order.line_items.first.display_price
  @total = @invoice.order.display_total
  @from_date = @invoice.order.line_items.first.to_date.strftime("%B %Y")
  @date = @invoice.date.strftime('%Y-%m-%d')

  @invoice_number = @invoice.invoice_number
  @customer_number = @customer.customer_number
  @customer_address = @order.billing_address&.address1
%>


<div class="flex align-items-center w-100 mt-3">
  <div class="invoice-content card p-5 invoice-content">
    <div class="print-area">
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <%= render partial: 'spree/billing/shared/vendor_logo', locals: { size: :small } %>
        </div>
        <div class="align-self-end">
          <strong>
            <div class="d-flex flex-column text-primary moul ">
                <div class="ml-4">ព្រះរាជាណាចក្រកម្ពុជា</div>
                <div>ជាតិ​​ សាសនា ព្រះមហាក្សត្រ</div>
                <div class="tacteng font-weight-light">3</div>
            </div>
          </strong>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <h4 class="pt-0"> <%= @title %></h4>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <ul class="list-unstyled">
            <li>
              <div> អាសយដ្ធានទទួលវិក្កយបត្រ​ / Address :</div>
              <%= @customer_address %>
            </li>
            <li class="mt-4 p-2 bg-success text-white">
              <div class = "font-weight-bold"> ចំណាំ</div>
                <%= @note %>
            </li>
          </ul>
        </div>
        <div >
          <ul class="list-unstyled">
            <li>
              <span>លេខវិក្កយបត្រ​​ / Invoice No :</span>
              <strong> <%= @invoice_number %> </strong>
            </li>
            <li>
              <span>កាលបរិច្ចេទ / Invoice Date : </span>
              <%= @date %>
            </li>
            <li>
              <span> លេខអតិថិជន / Customer No : </span>
              <%= @customer_number %>
            </li>
            <li>
              <span>លេខកូខទីតាំង / Loc code : </span>
              <%= @location_code %>
            </li>
          </ul>
        </div>
      </div>

      <table class="table table-striped mt-2">
          <thead  class=" bg-light">
            <tr>
              <th scope="col">ល.រ​​​ / N</th>
              <th scope="col">បរិយាយ / Description</th>
              <th scope="col">ប្រចាំខែ / Month</th>
              <th scope="col">ទឹកប្រាក់​ / Amount</th>
            </tr>
          </thead>
          <tbody class="list-unstyled">
            <tr>
              <th scope="row">1</th>
              <td>
                <ul class="list-unstyled">
                  <li> <%= @product %></li>
                </ul>
              </td>
              <td>
                <ul class="list-unstyled">
                    <li> <%= @from_date %></li>
                </ul>
              </td>
              <td>
                <ul class="list-unstyled">
                  <li>
                    <%= @price %>
                  </li>
                </ul>
              </td>
            </tr>
            <%  @order.adjustments.each do |adjustment|  %>
              <tr>
                <th scope="row">2</th>
                <td>
                  <ul class="list-unstyled">
                    <li> <%= adjustment.label %></li>
                  </ul>
                </td>
                <td></td>
                <td>
                  <ul class="list-unstyled">
                    <li>
                      <%= adjustment.display_amount %>
                    </li>
                  </ul>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>

      <div class="mt-2">
          <br>
          <div class="d-flex justify-content-between align-items-center bg-primary pt-3 px-2 font-weight-bold text-white">
                <p>ទឹកប្រាក់​ត្រូវទូទាត់​​ / Total Amount due</p>
                <p>
                  <%= @total %>
                </p>
          </div>
          <div class="col-6 offset-6 mt-3 qrcode-container " style="display: flex; justify-content: flex-end;">
            <img src="<%= main_app.rails_blob_url(@current_vendor.payment_qrcode.attachment) %>" alt="qrcode" style="width: 150px;">
          </div>
            <div class="d-flex justify-content-between mt-4">
              <div>
                <p>អ្នកទទួលប្រាក់​​ / Received By : ............................. </p>
                <p>កាលបរិច្ចេទ / Date : ............................. </p>
              </div>
              <div>
                <p>ទឹកប្រាក់​បានបង់ / Paid Amount : ............................. </p>
                <p>កាលបរិច្ចេទ / Date : .............................  </p>
              </div>
            </div>
          <div class="d-flex justify-content-center mt-4">
            <div>
              <div> អាសយដ្ធាន / Address : <%= @address %> </div>
              <div>
                <span>ទំនាក់ទំនង / Contact : <%= @contact %></span>
                <span>, អុីមែល / Email : <%= @email %></span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>