<nav class="pb-3 pt-lg-3 px-1">
  <div class="text-right d-lg-none pl-3 py-2 border-bottom d-flex align-items-center">
    <div class="d-flex flex-grow-1 text-primary"></div>
    <button
      id="sidebar-close"
      class="btn btn-link d-flex"
      type="button"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <%= svg_icon name: "cancel.svg", width: '20', height: '20', classes: 'p-0 m-0' %>
    </button>
  </div>
  <% if spree_current_user.has_spree_role?('admin') %>
    <ul class="nav nav-sidebar" id="sidebarReport">
      <%= billing_main_menu_tree Spree.t('billing.report'), icon: "pie-chart-fill.svg", sub_menu:"report", url: "#sidebar-report" %>
    </ul>
    <ul class="nav nav-sidebar" id="sidebarCustomer">
      <%= tab Spree.t('billing.customers'), url: billing_customers_path, icon: 'people-fill.svg' %>
    </ul>
    <ul class="nav nav-sidebar" id="sidebarOrder">
      <%= tab :orders, url: billing_orders_path, icon: 'inbox-fill.svg' %>
    </ul>
    <ul class="nav nav-sidebar" id="sidebarBillingProduct">
      <%= tab :products, url: billing_products_path, icon: 'tag-fill.svg' %>
    </ul>
    <ul class="nav nav-sidebar" id="sidebarSetting">
      <%= billing_main_menu_tree Spree.t('billing.settings'), icon: "gear-fill.svg", sub_menu:"setting", url: "#sidebar-setting" %>
    </ul>
  <% else %>
    <% if spree_current_user.permissions.exists?(entry: 'spree/billing/report') %>
      <ul class="nav nav-sidebar" id="sidebarReport">
        <%= billing_main_menu_tree Spree.t('billing.report'), icon: "pie-chart-fill.svg", sub_menu:"report", url: "#sidebar-report" %>
      </ul>
    <% end %>
    <% if spree_current_user.permissions.exists?(entry: 'spree/billing/customers') %>
      <ul class="nav nav-sidebar" id="sidebarCustomer">
        <%= tab :customers, url: billing_customers_path, icon: 'people-fill.svg' %>
      </ul>
    <% end %>
    <% if spree_current_user.permissions.exists?(entry: 'spree/billing/orders') %>
      <ul class="nav nav-sidebar" id="sidebarOrder">
        <%= tab :orders, url: billing_orders_path, icon: 'inbox-fill.svg' %>
      </ul>
    <% end %>
    <ul class="nav nav-sidebar" id="sidebarSetting">
      <%= billing_main_menu_tree Spree.t('billing.settings'), icon: "gear-fill.svg", sub_menu:"setting", url: "#sidebar-setting" %>
    </ul>
  <% end %>
</nav>
